
main {
   
    padding-top: 104px;
    .ofertaSkate{
        margin-top: 100px;
    }
    
        .imagenBanner {
            position: relative;
            display: flex;
            width: 100%;
               
    }

}



