//COLORES
$dorado: rgba(191, 143, 55, 1);
$doradoVerdoso: rgba(211, 169, 7, 1);
$doradoNaranja: rgba(229, 155, 0, 1);
$doradoMarron: rgba(146, 106, 37, 1);

$grisOscuro: rgba(76, 79, 86, 1);
$grisClaro: rgba(199, 198, 198, 1);
$blancoMate: rgba(241, 233, 215, 1);
$negroSuave: rgba(3, 3, 3, 1);

//FUENTES

//BACKGROUNDS

